<!DOCTYPE html>
<html>
    <head>
        <title>My First App</title>
    </head>
    <body>
        <h2>Signup</h2>
        <form method="POST" action="/signup">
            <input type="text" name="username" placeholder="Enter Username"><br><br>
            <input type="password" name="password" placeholder="Enter Password"><br><br>
            <button type="submit">Signup</button>
        </form>

        <hr>

        <h2>Login</h2>
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Enter Username"><br><br>
            <input type="password" name="password" placeholder="Enter Password"><br><br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>